@media screen and (max-width: 768px) {
  .section-title {
    font-size: 30px !important;
  }
  .custom-btn {
    padding: 10px 25px !important;
  }
  .banner-page-title {
    font-size: 36px !important;
  }
  .scale-95 {
    transform: scale(1) !important;
  }
  .custom-page-tabs {
    justify-content: start !important;
    .tab-item {
      padding: 8px 20px !important;
    }
  }
}
@media screen and (min-width: 992px) {
  .border-bottom-lg-none {
    border-bottom: none !important;
  }
  .border-right-lg {
    border-right: 1px solid;
  }
}
