.ready-img {
  width: 75%;
}
.ready-container {
  position: relative;
  border-radius: 10px;

  .bg-pink {
    background-color: #eeeaff;
    // background-color: pink;
    width: 100%;
    height: 240px;
    position: absolute;
    z-index: -1;
    bottom: 0px;
    border-radius: 15px;
  }
}
@media screen and (max-width: 992px) {
  .ready-img {
    width: 60%;
    margin-top: -75px;
  }
  .ready-container {
    // padding: 10px 0 0 10px;
    .bg-pink {
      height: 100%;
    }
  }
}
