.bg-purple-img {
  background-image: url(../../../assets/img/Home.png);
  // background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.homepage-section1-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 56px;
  }
  .homesection-bottom-utils-wrapper {
    display: flex;
  }
  .btns-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}
.collection-sales-card {
  height: 100%;
  padding: 15px 20px;
  border: 1px solid #e6e8f0;
  border-radius: 10px;
  text-align: center;
  transition: 0.2s;
  cursor: pointer;

  img {
    margin: 0 auto;
  }

  h5 {
    color: #20184e;
  }
  p {
    color: #666666;
  }
}
.collection-sales-card:hover {
  border: 1px solid #875eea;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.homepage-plan-card {
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  .view-plan-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
.view-plan-bg-img {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  background-image: url(../../../assets/img/view-plans-img.png);
  background-size: cover;
  background-position: right top;
  border-radius: 18px;
  height: 100%;
  padding: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 120px 61px 17px inset;
}
.owl-carousel {
  .owl-item {
    img {
      width: auto !important;
    }

    .item {
      padding: 15px;
    }
  }
}
.owl-nav {
  button {
    border: 1px solid #27425b !important;
    color: #27425b !important;
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
  }

  button:hover {
    color: #ffffff !important;
    border: 1px solid #7d63ec !important;
    background-color: #7d63ec !important;
  }
}
.testimonials-container {
  position: relative;
  // box-shadow: inset 400px 0 30px -20px white, inset -400px 0 30px -20px white;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.testimonials-container::before {
  content: "";
  position: absolute;
  top: -10px; /* Adjust these values to determine how much the shadow overlaps */
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-color: white; /* This should be the same color as the parent div's background */
  box-shadow: inset 260px 0 30px -20px white, inset -260px 0 30px -20px white;
  z-index: -1; /* This places the pseudo-element behind the content */
}
.testimonials-card {
  cursor: grab;
  max-width: 500px;
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  .testimonial-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 30px;
  }
}
.swiper-pagination {
  display: none;
}
.swiper-slide {
  width: fit-content !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
}
.better-list {
  .better-list-item {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 13px;

    .title {
      font-size: 18px;
      color: #555265;
    }
  }
}
.galaxy-img-wrapper {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 100%;
  }

  // circle:hover {
  //   box-shadow: #7c63ec36 0px 8px 24px;
  //   cursor: pointer;
  //   outline: 1px solid #7d63ec;
  //   border-radius: 50%;
  // }
}
.galaxy-img-wrapper-web {
  margin-top: -80px;
}
.product-story-img {
  width: 90%;
}
.save-strip-wrapper-bg {
  background-image: url(../../../assets/img/pruple-strip.png);
  background-position: center left;
  background-size: cover;
  .save-strip-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    img {
      width: 25px;
      margin-right: 8px;
    }
  }
}
.venue-managemnet-wrapper {
  background-color: #16141a;
  padding: 40px 0 20px 0;
  border-radius: 20px;

  .venue-manage-img-wrapper {
    height: fit-content;
    display: flex;
    img {
      width: 100%;
    }
    svg {
      width: 100%;
    }
  }
}
.gradient-bg-left {
  background: linear-gradient(to right, #ffffffeb 40%, #ffffff00 100%);
  left: 0px;
  height: 100%;
  width: 150px;
  position: absolute;
  z-index: 9;
}
.gradient-bg-right {
  background: linear-gradient(to left, #ffffffeb 40%, #ffffff00 100%);
  right: 0px;
  top: 0px;
  height: 100%;
  width: 150px;
  position: absolute;
  z-index: 9;
}

@media screen and (max-width: 768px) {
  .homepage-section1-wrapper {
    h1 {
      font-size: 36px;
    }
    .homesection-bottom-utils-wrapper {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }
  .galaxy-img-wrapper {
    margin-top: -50px;
  }
  .better-list {
    .better-list-item {
      .title {
        font-size: 16px;
        // margin-left: 5px !important;
      }
    }
  }
  .owl-carousel {
    .item {
      padding: 15px;
    }
  }
}

@media screen and (max-width: 992px) {
  .product-story-img {
    width: 100%;
  }
}
